<!--ABOUT PAGE (about.ejs)-->

<!-- Includes the top layout (header, navbar, etc.)-->
 <%- include('layout-top') %>

 <!--==================================-->
 <!--ABOUT CONTENT SECTION-->
 <!--==================================-->

 <!-- Creates a centered section on the webpage with all the text inside being centered -->
 <section class="container text-center mt-5">

<!--Page Title-->
    <h1 class="display-4 fw-bold mb-4">About Me</h1>

<!-- Short introduction paragraph-->
    <p class="lead text-muted">
        My name is <strong>Sahran Hossain</strong>, and I'm a student at Ontario Tech University studying Networking & Security IT.
        I'm passionate about cybersecurity and IT networking!
    </p>

<!--Profile Image-->
    <img src="/images/MyPicture.jpeg" alt="Sahran Hossain" 
        class="rounded-circle shadow my-4" width="200" heigth="200">

<!--Divider Line-->
 <hr class="my-5">

<!-- Skills Section-->

 <!--Creates a new row inside Bootsrap grid and centers the information horizontally -->
 <div class="row justify-content-center">

    <!--Makes a column that takes up 8 parts of the 12 colun grid in medium or larger screens -->
    <div class="col-md-8">

        <!-- Adds a bold section title with margin spacing on the bottom -->
        <h2 class="fw-bold mb-3">Skills & Interests </h2>
        
        <p>
            I'm skilled in IT networking configurations and using cybersecurity tools.
            I love using tools such as Wireshark, Packet Tracer, SecureCRT, and Kali Linux to improve my understanding of IT security.
        </p>
        <p>
            Other than IT and Cybersecurity, I enjoy going to the gym, hanging out with friends, and playing video games.
        </p>
    </div>
 </div>
 </section>

 <!-- Include the bottom layout (footer, scripts, etc.)-->
    <%- include('layout-bottom') %>