 </main>

         <!-- FOOTER -->
         <!-- Makes a dark footer with centered white text and spacing on the top -->
         <footer class="text-center py-3 bg-dark text-light mt-5">

            <!-- Copyright text -->
            <p>© <%= new Date().getFullYear() %> Sahran Hossain. All rights reserved.</p>

            <!-- Social media icons and links -->

             <p>
                <!-- Github Link -->
                <a href="https://github.com/sahranhossain" class="text-light me-3" target="_blank">

                    <!--Github icon from Font Awesome -->
                    <i class="fab fa-github"></i>
                </a>

                <!-- LinkedIn Link -->
                 <a href="https://www.linkedin.com/in/sahran-hossain-781a74276/" class="text-light" target="_blank">

                    <!-- LinkedIn icon from Font Awesome -->
                    <i class="fab fa-linkedin"></i>
                 </a>
             </p>

         </footer>

         <!-- JAVASCRIPT LINKS-->

         <!-- Bootstrap JS bundle for better responsive features -->
          <!-- Loads the Bootstrap JavaScript for navbar and animations -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
